# =====================================
# QuaZZarPro Tasks — Angular Frontend
# =====================================

# === Compiled output ===
dist/
tmp/
out-tsc/
bazel-out/

# === Node ===
node_modules/
npm-debug.log*
yarn-error.log*

# === Angular cache ===
.angular/cache/
.angular/local/

# === Testing / Coverage ===
coverage/
__screenshots__/
testem.log

# === Environment / sensitive files ===
*.env

# === System files ===
.DS_Store
Thumbs.db

# === IDE / Editor ===
.idea/
.vscode/
*.code-workspace
.history/
*.launch
.settings/
*.sublime-workspace

# === Miscellaneous ===
.sass-cache/
connect.lock
libpeerconnection.log
typings/
